.datetime-picker-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px !important;
  border: 1px solid #747474 !important;
  height: 30px;
}

/* Nếu muốn style riêng cho cả input của datepicker bên trong */
.datetime-picker-container input {
  font-size: 16px !important;
  height: 30px !important;
  padding: 4px 0px !important;
  text-align: center;
  width: 150%;
  border: none;
}
